.title {
  margin: 0 auto;
  padding-bottom: 10px;
  width: max-content;
}

.name {
  margin: 0;
  padding-bottom: 10px;
}

.castList {
  display: flex;
  flex-wrap: wrap;
  margin: -10px;
  width: 100%;
}

.castItem {
  padding: 10px;
  margin: 10px;
  width: calc((100% - 5 * 20px) / 5);
  background-color: white;
  border: 1px solid rgba(50, 42, 90, 0.75);
  border-radius: 5px;
}

.castBox {
  display: flex;
  flex-direction: column;
}

.castImg {
  margin-bottom: 10px;
}


.character {
  width: fit-content;
  margin: 0;
  font-size: 12px;
}
