.list {
    display: block;
    border-radius: 5px;
    overflow: hidden;
}

.link:hover {
    background-color: #DC3958;
  }

.list {
    display: grid;
    max-width: calc(100vw - 90px);
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 30px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
  }